<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Equipment Maintenance Alert System</title>
</head>
<body>
    <header>
        <h1>Welcome to the Equipment Maintenance Alert System</h1>
    </header>
    <main>
        <section class="welcome-content">
            <div class="left-half">
                <p>Welcome to our platform designed to help you manage equipment maintenance efficiently.</p>
                <p>Stay organized and on top of maintenance tasks with our intuitive system.</p>
                <a [routerLink]="'/equipmentList'"><button class="start-button">Get Started</button></a>
            </div>
            <div class="right-half">
                <img src="./../../assets/chester-alvarez-bphc6kyobMg-unsplash.jpg" alt="">
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Equipment Maintenance Alert System. All rights reserved.</p>
    </footer>
</body>
</html>
